In [1]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
ds = pd.read_csv('dataset/titanic.csv')

In [3]:
for col in ds.columns:
    print(col)

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [4]:
print(ds.iloc[0])

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [5]:
ds.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
ds.head()
print(ds)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [7]:
data = np.array(ds)
print(data)
print(data[0])

[[1 0 3 ... 7.25 nan 'S']
 [2 1 1 ... 71.2833 'C85' 'C']
 [3 1 3 ... 7.925 nan 'S']
 ...
 [889 0 3 ... 23.45 nan 'S']
 [890 1 1 ... 30.0 'C148' 'C']
 [891 0 3 ... 7.75 nan 'Q']]
[1 0 3 'Braund, Mr. Owen Harris' 'male' 22.0 1 0 'A/5 21171' 7.25 nan 'S']

In [8]:
for i in ds:
    print(i)

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [9]:
ds.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
ds.iloc(axis=0)[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [11]:
# pd.DataFrame?

In [12]:
arr = np.array(([1,2,3],[1,5,2],[5,2,3]))
d= pd.DataFrame(arr,columns=['a','b','c'])
print(d)
print(arr[2])

   a  b  c
0  1  2  3
1  1  5  2
2  5  2  3
[5 2 3]

In [13]:
columns_to_drop = ["PassengerId", "Name", "Ticket", "Cabin", "Embarked"]
ds = ds.drop(columns_to_drop, axis=1)
print(ds.head())
ds = ds.dropna()
ds = ds.reset_index(drop=True)
ds.describe()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

         Survived      Pclass         Age       SibSp       Parch        Fare
count  714.000000  714.000000  714.000000  714.000000  714.000000  714.000000
mean     0.406162    2.236695   29.699118    0.512605    0.431373   34.694514
std      0.491460    0.838250   14.526497    0.929783    0.853289   52.918930
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   20.125000    0.000000    0.000000    8.050000
50%      0.000000    2.000000   28.000000    0.000000    0.000000   15.741700
75%      1.000000    3.000000   38.000000    1.000000    1.000000   33.375000
max      1.000000    3.000000   80.000000    5.000000    6.000000  512.329200

In [14]:
def change_gender(gender):
    if gender.lower().startswith('m'):
        return 0
    elif gender.lower().startswith('f'):
        return 1
    else:
        return gender
print(ds['Sex'][:10])
ds['Sex'] = ds['Sex'].apply(change_gender)
print(ds['Sex'][:10])

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9    female
Name: Sex, dtype: object
0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    1
8    1
9    1
Name: Sex, dtype: int64

In [36]:
ds.corr()

          Survived    Pclass       Sex       Age     SibSp     Parch      Fare
Survived  1.000000 -0.359653  0.538826 -0.077221 -0.017358  0.093317  0.268189
Pclass   -0.359653  1.000000 -0.155460 -0.369226  0.067247  0.025683 -0.554182
Sex       0.538826 -0.155460  1.000000 -0.093254  0.103950  0.246972  0.184994
Age      -0.077221 -0.369226 -0.093254  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.017358  0.067247  0.103950 -0.308247  1.000000  0.383820  0.138329
Parch     0.093317  0.025683  0.246972 -0.189119  0.383820  1.000000  0.205119
Fare      0.268189 -0.554182  0.184994  0.096067  0.138329  0.205119  1.000000

In [15]:
ds.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    0  22.0      1      0   7.2500
1         1       1    1  38.0      1      0  71.2833
2         1       3    1  26.0      0      0   7.9250
3         1       1    1  35.0      1      0  53.1000
4         0       3    0  35.0      0      0   8.0500

In [38]:
print(ds.columns)

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [24]:
import multiprocessing as mp
print("Number of processors: ", mp.cpu_count())

Number of processors:  8

In [19]:
pool = mp.Pool(mp.cpu_count())

Process ForkPoolWorker-1:
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 354, in get
    return _ForkingPickler.loads(res)
AttributeError: Can't get attribute 'printval' on <module '__main__'>
Process ForkPoolWorker-8:
Process ForkPoolWorker-2:
Process ForkPoolWorker-6:
Process ForkPoolWorker-4:
Process ForkPoolWorker-5:
Process ForkPoolWorker-7:
Process ForkPoolWorker-3:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
Traceback (most recent call last):
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/opt/anaconda3/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 352, in get
    res = self._reader.recv_bytes()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/opt/anaconda3/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/opt/anaconda3/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/opt/anaconda3/lib/python3.7/multiprocessing/connection.py", line 216, in recv_bytes
    buf = self._recv_bytes(maxlength)
KeyboardInterrupt
KeyboardInterrupt
  File "/opt/anaconda3/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
KeyboardInterrupt
  File "/opt/anaconda3/lib/python3.7/multiprocessing/connection.py", line 407, in _recv_bytes
    buf = self._recv(4)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/connection.py", line 379, in _recv
    chunk = read(handle, remaining)
KeyboardInterrupt

In [20]:
def printval(a,b,c):
    return a+b+c

In [21]:
results = [pool.apply(printval, args=(2, 1, 1))]

Process ForkPoolWorker-9:
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/opt/anaconda3/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/opt/anaconda3/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/opt/anaconda3/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
pool.close()

In [31]:
results

[4]

In [41]:
import multiprocessing as mp
print("Number of processors: ", mp.cpu_count())

Number of processors:  8

In [25]:
class DecisionTree:
    outputColumn = None
    def __init__(self,depth = 0 , maxDepth = 20):
        self.depth = depth
        self.maxDepth = maxDepth
        self.data = None
        self.left = None
        self.right = None
        self.feature = None
        self.value = None
        
        
    def split(self, data, eachColumn, val):
        left_data, right_data = list(), list()
        
        for i in range(data.shape[0]):
            oneRow = data.iloc[i]
            
            if(oneRow[eachColumn] <= val):
                left_data.append(oneRow)
            else:
                right_data.append(oneRow)
                
        left_data = pd.DataFrame(left_data, columns=data.columns).reset_index(drop=True)
        right_data = pd.DataFrame(right_data, columns=data.columns).reset_index(drop=True)
        
        return left_data, right_data
    
    @staticmethod
    def findInformationGain(parent , left, right):
        left_shape = left.shape[0]/parent.shape[0]
        right_shape = 1 - left_shape
        
        if not (left_shape and right_shape):
            return -np.inf
        gain = DecisionTree.entropy(parent) - (left_shape * DecisionTree.entropy(left) + right_shape * DecisionTree.entropy(right))
        return gain
    
    
    @staticmethod
    def entropy(system):
        total = system.shape[0]
        klasses, counts = np.unique(system[DecisionTree.outputColumn].values, return_counts=True)
        ent = 0
        for i,klass in enumerate(klasses):
            p = counts[i] / total
            ent += (-1 * p * np.log2(p))
        return ent
         

#     def callBestSplit(self,value):
#         return DecisionTree.findInformationGain(data,left,right)
        
        
    def getBestSplit(self,data):
        informationGain = []
        
        for eachColumn in data.columns:
            if eachColumn == DecisionTree.outputColumn:
                continue
            
            val = data[eachColumn].mean()
            
            left , right = self.split( data,eachColumn,val)
            
            pool = mp.Pool(mp.cpu_count())
            gain = pool.apply(DecisionTree.findInformationGain, args=(data,left,right))
            pool.close()
            
            
            
#             import os
 
    # from multiprocessing import Process
 
    # def doubler(number):
    #     """
    #     A doubling function that can be used by a process
    #     """
    #     result = number * 2
    #     proc = os.getpid()
    #     print('{0} doubled to {1} by process id: {2}'.format(
    #         number, result, proc))

    #     if __name__ == '__main__':
    #         numbers = [5, 10, 15, 20, 25]
    #         procs = []

    #         for index, number in enumerate(numbers):
    #             proc = Process(target=doubler, args=(number,))
    #             procs.append(proc)
    #             proc.start()

    #         for proc in procs:
    #             proc.join()
            
            gain = DecisionTree.findInformationGain(data,left,right)
            
    
            informationGain.append((gain,eachColumn,val))
        
        ans = sorted(informationGain,key = lambda x :x[0], reverse=True)
        return ans[0]
            
            
        
        
        
    def createTree(self):
        print(self.depth)

        gain ,col, val = self.getBestSplit(self.data)
        
        self.feature = col
        self.value = val
        left,right = self.split(self.data, col, val)
        
        if left.shape[0] == 0 or right.shape[0] == 0:
            return
        if self.depth >= self.maxDepth:
            return 
        
        self.left = DecisionTree(self.depth+1,self.maxDepth)
        self.right = DecisionTree(self.depth+1,self.maxDepth)
        self.left.data = left
        self.left.createTree()
        self.right.data = right
        self.right.createTree()
    
   
    
    
    @property
    def isLeafNode(self):
        return not(self.right or self.left)
        
    def predict(self,testRow):
        print("Tree Traversal: ",self.feature)
        print("Tree Depth: ",self.depth)
        print('-'*8)
    
        
        if self.isLeafNode:
            survival = self.data[DecisionTree.outputColumn].sum()
            death = self.data.shape[0] - survival
            
            if survival >= death:
                return "Survived"
            else:
                return "Died"
        if testRow[self.feature] <= self.value:
             return self.left.predict(testRow)
        else:
            return self.right.predict(testRow)

     
    def train(self, data, output_column):
            self.data = data
            DecisionTree.outputColumn = output_column
            self.createTree()
        
    
        
        
    def score(self, labels, y_test):
        return (labels == y_test).sum() / y_test.shape[0]

In [26]:
X = ds[[each for each in ds.columns if each != "Survived"]]
Y = pd.DataFrame(ds['Survived'], columns=['Survived'])

In [27]:
split = int(0.8 * ds.shape[0])
X_test = X[split:]
Y_test = Y[split:]
X_test, Y_test = X_test.reset_index(drop=True), Y_test.reset_index(drop=True)

In [28]:
Tree = DecisionTree(maxDepth=5)
Tree.train(ds[:split], output_column='Survived')

0
1
2
3
4
5
5
4
5
5
3
4
5
5
4
5
5
2
3
4
5
5
4
5
5
3
4
5
5
4
5
5
1
2
3
4
5
5
4
5
5
3
4
5
5
4
5
5
2
3
4
5
5
4
5
5
3
4
5
5
4
5
5

In [96]:
#Test
testData = ds[split:]

In [77]:
testData.head()

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
571         0       3    0  33.0      0      0   7.7750
572         1       2    1   6.0      0      1  33.0000
573         0       3    0  17.0      1      0   7.0542
574         0       2    0  34.0      0      0  13.0000
575         0       2    0  50.0      0      0  13.0000

In [61]:
print(Tree.predict(testData.loc[581]))
print(testData.loc[581])

Tree Traversal:  Sex
Tree Depth:  0
--------
Tree Traversal:  Pclass
Tree Depth:  1
--------
Tree Traversal:  Age
Tree Depth:  2
--------
Tree Traversal:  SibSp
Tree Depth:  3
--------
Tree Traversal:  Pclass
Tree Depth:  4
--------
Tree Traversal:  Age
Tree Depth:  5
--------
Survived
Survived      1.0000
Pclass        1.0000
Sex           1.0000
Age          29.0000
SibSp         0.0000
Parch         0.0000
Fare        211.3375
Name: 581, dtype: float64

In [25]:
import queue as q

In [26]:
que = q.Queue()

In [27]:
print(que.empty())

True

In [28]:
def printTree(TreeRoot):
    que.put(TreeRoot)
    while(not que.empty()):
        val = que.get()
#         print(val.feature)
#         print(type(val))
        print('Feature: ', getattr(val,'feature', 'None'))
        print("Value: ",getattr(val, 'value','None'))
        print('-'*8)
        if not val.left == None:
            que.put(val.left)
        if not val.right == None:
            que.put(val.right)

In [29]:
printTree(Tree)

Feature:  Sex
Value:  0.36777583187390545
--------
Feature:  Fare
Value:  28.25788199445983
--------
Feature:  Pclass
Value:  2.080952380952381
--------
Feature:  Fare
Value:  12.418069696969706
--------
Feature:  SibSp
Value:  1.0721649484536082
--------
Feature:  Age
Value:  30.830708661417322
--------
Feature:  SibSp
Value:  0.9036144578313253
--------
Feature:  Parch
Value:  0.02976190476190476
--------
Feature:  Parch
Value:  0.3229166666666667
--------
Feature:  Age
Value:  38.71103896103896
--------
Feature:  Pclass
Value:  2.5
--------
Feature:  SibSp
Value:  0.5606060606060606
--------
Feature:  SibSp
Value:  0.4262295081967213
--------
Feature:  Age
Value:  23.186046511627907
--------
Feature:  Fare
Value:  21.178019999999993
--------
Feature:  SibSp
Value:  0.08588957055214724
--------
Feature:  Pclass
Value:  2.8
--------
Feature:  Pclass
Value:  1.9189189189189189
--------
Feature:  Age
Value:  23.318181818181817
--------
Feature:  Pclass
Value:  1.375
--------
Feature:  Parch
Value:  0.4864864864864865
--------
Feature:  SibSp
Value:  2.142857142857143
--------
Feature:  Fare
Value:  38.192307692307686
--------
Feature:  Pclass
Value:  1.5135135135135136
--------
Feature:  SibSp
Value:  1.2758620689655173
--------
Feature:  Fare
Value:  80.2912027777778
--------
Feature:  Pclass
Value:  1.24
--------
Feature:  Parch
Value:  0.4166666666666667
--------
Feature:  Age
Value:  33.05263157894737
--------
Feature:  Parch
Value:  0.5185185185185185
--------
Feature:  Fare
Value:  33.39423076923076
--------
Feature:  Fare
Value:  7.935714473684207
--------
Feature:  SibSp
Value:  1.2727272727272727
--------
Feature:  Pclass
Value:  2.0
--------
Feature:  Age
Value:  23.0
--------
Feature:  Age
Value:  45.78947368421053
--------
Feature:  SibSp
Value:  0.4
--------
Feature:  SibSp
Value:  1.3
--------
Feature:  Pclass
Value:  2.6666666666666665
--------
Feature:  SibSp
Value:  0.41379310344827586
--------
Feature:  SibSp
Value:  0.45454545454545453
--------
Feature:  SibSp
Value:  0.37037037037037035
--------
Feature:  Age
Value:  55.2
--------
Feature:  Parch
Value:  0.16666666666666666
--------
Feature:  Pclass
Value:  1.0
--------
Feature:  Parch
Value:  1.4
--------
Feature:  Age
Value:  9.125
--------
Feature:  Age
Value:  22.944444444444443
--------
Feature:  Age
Value:  21.210526315789473
--------
Feature:  Parch
Value:  0.782608695652174
--------
Feature:  Pclass
Value:  1.5
--------
Feature:  Parch
Value:  0.32
--------
Feature:  Age
Value:  42.18181818181818
--------
Feature:  Age
Value:  43.78947368421053
--------
Feature:  Age
Value:  38.333333333333336
--------
Feature:  Fare
Value:  8.368876470588233
--------
Feature:  Age
Value:  5.857142857142857
--------
Feature:  Fare
Value:  10.874676923076922
--------
Feature:  Age
Value:  45.333333333333336
--------
Feature:  SibSp
Value:  1.2142857142857142
--------
Feature:  Fare
Value:  16.67851538461538
--------
Feature:  Fare
Value:  30.174999999999997
--------
Feature:  Age
Value:  22.25
--------

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
X_train, X_test = X[:split], X[split:]
y_train, y_test = Y[:split], Y[split:]

In [32]:
DT = DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [33]:
DT.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [34]:
dot_data = StringIO()
export_graphviz(DT, out_file=dot_data, filled=True,rounded=True)

NameError: name 'StringIO' is not defined

In [ ]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

In [ ]:
printTree(Tree)

In [50]:
import multiprocessing as mp
print("Number of processors: ", mp.cpu_count())

Number of processors:  8

In [51]:
pool = mp.Pool(mp.cpu_count())

In [52]:
def printval(a,b,c):
    return a+b+c

In [53]:
results = pool.apply(printval, args=(2, 1, 1))
pool.close()

Exception ignored in: <function _after_fork at 0x103a459e0>
Traceback (most recent call last):

KeyboardInterrupt:

  File "/opt/anaconda3/lib/python3.7/threading.py", line 1368, in _after_fork
    thread._reset_internal_locks(False)
  File "/opt/anaconda3/lib/python3.7/threading.py", line 811, in _reset_internal_locks
    self._started._reset_internal_locks()
KeyboardInterrupt:

In [ ]:
results

In [22]:
import os
 
from multiprocessing import Process
 
def doubler(number):
    """
    A doubling function that can be used by a process
    """
    result = number * 2
    proc = os.getpid()
    print('{0} doubled to {1} by process id: {2}'.format(
        number, result, proc))
 
    if __name__ == '__main__':
        numbers = [5, 10, 15, 20, 25]
        procs = []

        for index, number in enumerate(numbers):
            proc = Process(target=doubler, args=(number,))
            procs.append(proc)
            proc.start()

        for proc in procs:
            proc.join()